@font-face
{
    font-family: ElegantFont;
    src: url('../../content/fonts/Respective.ttf');
}

@font-face
{
    font-family: ElegantCodeFont;
    src: url('../../content/fonts/Elegant.ttf');
}

.page {
    
}

.elegantTitle     
{
    position: relative;    
    font-family: ElegantFont;
    font-size: 50pt;
    color: #aaaaaa;
    left: 10px;
    top: 0px;
}

#codearea {
    width: 980px;
    
    /* Firefox */
    display:-moz-box;
    -moz-box-orient:horizontal;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-orient:horizontal;
    box-pack:center;
    box-align:center;
}